body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    margin: 0;
}
.pageHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #348e5e;
}
.pageHeader img{
    width: 250px;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #000;
}
nav a{
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin: 0 15px;
}
nav a:hover{
    background-color: #348e5e;
}
main{
    display: flex;
    flex-direction: row;
}
.ximiraImage{
    width: 400px;
}
.sidebar{    
    background-color: #1fe079;
    padding: 0 5px;
    flex: 40%;
}
.sidebar section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar p{
    text-align: justify;
}
.mainContent{
    display: flex;
    background-color: #348e5e;
    padding: 0 15px;
    flex-flow: column nowrap;
}
.narracaoximira{
    font-style: italic;
    font-weight: bolder;
    display: block;
    padding-left: 10px;
}
.ditadosximira{
    float: right;
    margin-left: 15px;
    padding: 5px;
    border: 3px dotted #282525;
    background-color: #ccc;
}
.lema{
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
}
.lema::before{
    content: open-quote;
}
.lema::after{
    content: close-quote;
}
footer{
    display: flex;
    padding-left: 5px;
    background-color: #000;
    color: #fff;
    flex-direction: column;
}
footer a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}
#ximiraSobreHeader{
    margin-top: 10px;
    background: #fff url("../image/ximira_futuro.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 12em;
}
.ximiraOnde iframe{
    width: 100%;
}
.aulasContainer{
    display: flex;
    flex-flow: row wrap;
}
.aulaCard{
    flex: 5;
    background-color: #FFF;
    border: 5px solid #1fe079;
    margin: 0 5px;
    text-align: center;
}
.aulaCard p{
    text-align: justify;
    padding: 0 5px;
}
.aulaCard a{
    text-align: right;
    display: block;
    padding-right: 5px;
    text-decoration: none;
    color: #2b8053;
}
.aulaCard a:hover{
    color: #1fe079;
}
.aulaCard img{
    width: 250px;
}
.breadcrumbs{
    height: 2em;
}
.breadcrumbs ul li{
    float: left;
    list-style: none;
    margin-left: 5px;
}
.breadcrumbs a{
    text-decoration: none;
}
.breadcrumbs a:visited, .breadcrumbs a{
    color: #000;
}
.breadcrumbs a:hover{
    color: #1fe079;
}
.breadcrumbs ul li::after{
    content: ' > ';
}
.breadcrumbs .current::after{
    content: '';
}
.fullArticle{
    text-align: center;
}
.fullArticle p{
    text-align: left;
}
.imreponsive{
    width: 80%;
    height: auto;
}